*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Josefin Sans', sans-serif;
}

/* .container{
   width: 100%;
   height: 100vh;
} */
.text-container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.logo{
  margin-top: 5%;
}
h1{
  letter-spacing: 1rem;
  line-height: 1;
  font-size: 70px;
  margin-top: 20%;
}
h1 .were{
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}
h1 .soon{
  color: hsl(0, 6%, 24%);
  font-weight: 400;
}
h2{
  font-size: 16px;
  color: hsl(0, 36%, 70%);
  margin-top: 5%;
  line-height: 2;
}
input{
  font-weight: 400;
  align-self: center;;
  margin-left: 10px;
  margin-top: 5%;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid hsl(0, 36%, 70%);
  width: 380px;
  height: 50px;
  outline: none;
  position: relative;
}
::placeholder{
  color: hsl(0, 36%, 70%);
}
form{
  width: 100%;
}
button{
  outline: none;
  width: 80px;
  height:55px;
  /* left: -75px; */
  margin-left: -34px;
  position: relative;
  right: 3rem;
  top: 0.4rem;
  margin-top: 5%;
  box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:15px ;
  border: 1px solid hsl(0, 80%, 86%);
  border-radius: 30px;
  background: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%) ); 
}

/* media queries */


/* for mobile view */
@media only screen and (max-width: 700px){
  .container{
    margin-top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  }
  .logo{
    visibility: hidden;
  }
  .picture-container{
    background-image: url("./images/hero-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
  }
  .text-container{
    margin-top: 0;
    max-width: 400px;
  }
  h1{
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
  }
  h1 .were{
    font-weight: 300;
  }
  h1 .soon{
    font-weight: 600;
  }
  h2{
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
  }
  input{
    width: 250px;
    
  }
  button{
    left: -50px;
    margin-bottom: 50px;
  } 
  .attribution{
    text-align: center;
    padding: 20px;
  }
  .form{
    margin-right: -8px;
    /* width: 100%; */
    text-align: center;
  }
  .attribution a{
    color: hsl(0, 74%, 74%);
    text-decoration: none;
  }
}

/* for desktop view */
@media only screen and (min-width: 700px){
  .container{
    display: flex;
    flex-direction: row-reverse;
  }
  .picture-container{
    background-image: url("./images/hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  .text-container{
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    max-width: 600px;
  }
  .logo{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 10px;
  }
  h1{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 15%;
    font-size: 40px;
  }
  .were{
    font-weight: 400;
  }
  h2{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .form{
    margin-top: 20px;
    margin-left: 12%;
    margin-right: auto;
    width: 90%;
  }
  input{
    width: 250px;
  }
  .attribution{
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(135deg, hsl(0, 100%, 98%),to hsl(0, 74%, 74%));
  }
  .attribution a{
    color: hsl(0, 74%, 74%);
    text-decoration: none;
  }
}

